body{
  text-align: center;
  font-family: Helvetica;
}

h1, #background, footer{
  color: white;
}

/*HEADINGS AND PARAGRAPHS*/

h1, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

/*NAVIGATION*/
a {
  font-size: 18px;
  color: #ffffff !important;
}

footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

/*BACKGROUND IMAGE*/
#home, #background {
  background-image: url('../images/the-flatiron-building.png');
  background-position: center;
}
